// Source: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)",		
              ~"only screen and (min-resolution: 2dppx)",														
              ~"only screen and (min-resolution: 192dpi)";

@xsmall:  ~"only screen and (min-width: @{screen-xs})"; /*480px*/
@small:  ~"only screen and (min-width: @{screen-sm})"; /*768px*/
@medium:  ~"only screen and (min-width: @{screen-md})"; /*992px*/
@large:  ~"only screen and (min-width: @{screen-lg})"; /*1200px*/

@xlarge:      ~"only screen and (min-width: 1400px)"; /*1400px -- custom external of bootstrap*/

@xsmall-only:  ~"only screen and (max-width: @{screen-xs})"; /*480px*/
@small-only:  ~"only screen and (max-width: @{screen-sm})";
@small-medium-only:  ~"only screen and (max-width: @{screen-md})";
@medium-only:  ~"only screen and (min-width: @{screen-sm}) and (max-width: @{screen-md})";
@small-large-only:  ~"only screen and (max-width: @{screen-lg})";

/*blues*/
@blue: #22a6d8; /*blue of logo*/
@persianblue: #127bbf; /*deep blue */

/*purples*/
@purple: #56328f; /*cta button bg*/
@martinique: #3B2C54;
@cherrypie: #210058;

/*greys*/
@alto: #ddd; 
@stardust: #9f9f9f; /*light borders*/
@mineshaft: #333333;
@liver: #4d4d4d;

/*bg panels*/
@alabaster: #fafafa;
@whitesmoke: #F7F6F5;

/*reds*/
@crimson: #e10b0b; /*required asterix*/

::-webkit-selection {
	background:#edeeef;
	color:#000;
}
::-moz-selection {
	background:#edeeef;
	color:#000;
}
::selection {
	background:#edeeef;
	color:#000;
}

img,
object,
video {
	border:0;
	max-width:100%;
}
img {
	border:0;
	-ms-interpolation-mode: bicubic;
	vertical-align:middle;
}

.visuallyhidden { 
	text-indent:-99999em;
  outline:0;
}

*,
*:before,
*:after { 
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	box-sizing: border-box; /* Opera/IE 8+ */
	*behavior: url(../../../js/boxsizing.htc);
}

/*standard transition*/
.trans {
	transition: 
	background-color .25s ease-in-out, 
	border .25s ease-in-out, 
	color .25s ease-in-out,
	box-shadow .25s ease-in-out,
	text-shadow .25s ease-in-out;
}

/* Chrome M33 font fix */
@-webkit-keyframes fontfix {
	from { opacity: 1; }
	to   { opacity: 1; }
}

html {
	background:#fff;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  -webkit-animation-delay: 0.1s;             /* Chrome M33 font fix */
  -webkit-animation-name: fontfix;           /* Chrome M33 font fix */
  -webkit-animation-duration: 0.1s;          /* Chrome M33 font fix */
  -webkit-animation-iteration-count: 1;      /* Chrome M33 font fix */
  -webkit-animation-timing-function: linear; /* Chrome M33 font fix */	

  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
	font-weight:300;

	overflow-x:hidden;
	background-color: @body-bg;
	
	&:after { /*This adds a label in the top-left corner that displays the current media query state.*/
		background: red;
		color: #fff;
		content: "column";
		left: 0;
		padding: .5em 1em;
		position: fixed;
		text-align: center;
		top: 0;
		z-index:999;
		@media @xsmall {
			background: blue;
			content: "xsmall 480";
		}
		@media @small {
			background: red;
			content: "small 768";
		}
		@media @medium {
			background: purple;
			content: "medium 992";
		}
		@media @large {
			background: green;
			content: "large 1200";
		} 
		@media @xlarge {
			background: blue;
			content: "xlarge 1400";
		} 
	}
}

.logo-printme {
	display:none;
}

.container-fluid {
	.row {
		@media @large {
			max-width:75em/*1200px/16*/;
			margin-left:auto;
			margin-right:auto;
		}
	}
}

/*default link styles */
a {
  color:@link-color;
  text-decoration:none;
	.trans;
	.acuminmedium;
  &:hover {
    color:@link-hover-color;
    text-decoration:underline;
  }
	/*  
	&:focus {
    .tab-focus();
  }
*/
}

#main {
	position:relative;
	#gradient > .vertical(#f4f4f4, #fff);
	padding:48px 0 0 0;
	box-shadow:inset 0 2px 10px rgba(0,0,0,.18);
	p {
		a {
			font-size:15px;
		}
	}
	.main-aside {
		margin-bottom:48px;
	}
}

hr {
	background:@alto;
	border:none;
	height: 1px;
	margin:@baseline*2 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	clear:both;
}

/*thumbnails*/
.th {
	margin:2px 45px @baseline 0;
	background:#fff;
	border:1px solid @alto;
	padding:4px;
	border-radius:8px;
	@media @small {
		float:left;
	}
	figure & {
		float:none;
	}
}

a .th {
	.trans;
	&:hover {
		border-color:@blue;
	}
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  .img-responsive();
}

// Rounded corners
.img-rounded {
  border-radius: @border-radius-large;
}

// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}