@blue: #22a6d8; /*dark blue of logo*/
@purple: #56328f; /*cta button bg*/

/*greys*/
@alto: #ddd; 
/*bg panels*/
@alabaster: #fafafa;

@media print {
	body {
		color: #000;
		background: #fff;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	@page {
		margin: 2cm;
	}
	#branding-logo a {
		display:none;
	}
	nav, 
	.hideme,
	#leader-map .lm-search,
	.nav-hold,
	.siteinfo-nav,
	.siteinfo-aside,
	.selectbox-panel {
		display:none!important;
	}
	
	h1,
	h2, 
	h3,
	h4,
	h5,
	h6 {
		page-break-after: avoid;
		color:#000; 
		text-decoration:none; 
	}

	#leader-panel {
		background:#fff;
		border-bottom:1px solid @alto;
		color:#000;
		.leader-content {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p {
				color:#000;
				a {
					color:#000;
				}
			}
		}
	}

	hr {
		margin-top:40px;
		margin-bottom:40px;
	}
	
	blockquote {
		margin-left:0;
	}
	
	.container-fluid {
		margin-top:40px;
		margin-bottom:40px;
		clear:both;
	}
	.form-group {
		display:block;
		margin-bottom:18px;
		width:100%;
		label {
			display:block;
			margin-bottom:8px;
			width:100%;
			clear:both;
		}
	}
	
	.steps-vertical {
		.sv-item {
			.svi-action {
				a {
					display:none;
				}
			}
		}
	}
	
	a[href*="http"] { 
		color:@purple;
		text-decoration:none;
	}
	a[href*="http"]:after { 
		content: " (" attr(href) ") ";
		color:#333; 
		font-size:13px; 
		text-decoration:none; 
		margin-left:10px;
	}
	#branding {
		border-bottom:1px solid @alto;
		padding-bottom:20px;
		margin-bottom:30px;
	}	
	#siteinfo {
		border-top:1px solid @alto;
		padding-top:60px;
		background:none;
		padding:0;
	}
	table { 
		border-collapse:collapse; 
		border-spacing:none; 
		thead th { 
			background:#fff; 
			padding:18px 30px 18px 14px; 
			text-align:left;
			border-right:4px solid #fff;
			border-bottom:1px solid @alto;
		}
		tbody { 
			border-top:none;
			tr td { 
				border:none;
				border-right:4px solid #fff;
				border-bottom:1px solid @alto;
				padding:12px 30px 12px 14px; 
				vertical-align:top;
			}
			tr:nth-of-type(odd),
			tr.odd {
				background:@alabaster; 
			}
		}
	}

}