/*typekit acumin heading stack*/
.acuminpromedium {font-family: "acumin-pro-extra-condensed", Arial, Helvetica, sans-serif; font-weight:500; font-style:normal; }
.acuminprobold {font-family: "acumin-pro-extra-condensed", Arial, Helvetica, sans-serif; font-weight:700; font-style:normal; }


/*typekit acumin stack*/
.acuminlight {font-family: "acumin-pro", Arial, Helvetica, sans-serif; font-weight:300; font-style:normal; }
.acuminregular {font-family: "acumin-pro", Arial, Helvetica, sans-serif; font-weight:400; font-style:normal; }
.acuminmedium {font-family: "acumin-pro", Arial, Helvetica, sans-serif; font-weight:500; font-style:normal; }
.acuminsemibold {font-family: "acumin-pro", Arial, Helvetica, sans-serif; font-weight:600; font-style:normal; }
.acuminbold {font-family: "acumin-pro", Arial, Helvetica, sans-serif; font-weight:700; font-style:normal; }

h1, 
h2, 
h3, 
h4, 
h5,
h6 {
	.acuminpromedium;
	color:#333;
	margin-bottom:18px;
	font-weight:normal;
	line-height:@baseline;
	margin-top:0;
	&.bolden {
		.acuminprobold;
	}
}
h1 {
	font-size:48px;
}
h2 {
	font-size:42px;
}
h3 {
	font-size:38px;
}
h4 {
	font-size:34px;
}
h5 {
	font-size:32px;
}
h6 {
	font-size:30px;
}

.report-details {
	&.nomargin {
		h3 {
			margin-bottom:0;
		}
	}
}
.heading-sub {
	color:@text-color;
	font-size:24px;
	margin-bottom:@baseline/1.5;
	@media @small {
		text-align:center;
		padding:0 10%;
	}
}

.required {
	color:@crimson;
}

em,
q {
	color:@blue;
	.acuminmedium;
}
strong {
	.acuminmedium;
}

p,
ul,
ol {
	margin-bottom:@baseline*1;
	margin-top:0;
	line-height:@baseline;
}

b {
	.acuminbold;
}

small {
	font-size:13px;
	.acuminlight;
	line-height:18px;
}

#main p {
	&.promote {
		font-size:18px;
		.acuminregular;
		line-height:32px;
		margin-bottom:48px;
		a {
			font-size:18px;
		}
	}
	&.small {
		font-size:13px;
		.acuminlight;
		line-height:18px;
	}
}

a.tel {
	cursor:text;
	&:hover {
		text-decoration:none;
	}
}

#main ul {
	display:block;
	@media @medium {
	}
	li {
		margin:0 0 8px 0;
		padding-left:12px;
	}
}
#main ol {
	display:block;
	@media @medium {
	}
	li {
		padding-left:12px;
		margin:0 0 8px 0;
		ol {
			margin-bottom:0;
			padding-left:15px;
		}
	}
}

#main ul.questions {
	padding:0;
	margin:18px 0 68px 0;
	list-style:none;
	li {
		text-align:left;
		margin:0 0 48px 0;
		padding:0;
		line-height:28px;
		a {
			display:block;
			font-size:18px;
			color:#333;
			.trans;
			span {
				display:block;
				width:46px;
				height:46px;
				margin-bottom:12px;
				background:@blue;
				border-radius:100%;
				color:#fff;
				.acuminbold;
				text-align:center;
				line-height:43px;
				font-size:28px;
				margin-right:18px;
				box-shadow:2px 2px 0 rgba(0,0,0,.15), inset 2px 2px 2px rgba(0,0,0,.15);
				text-shadow:none;
				.trans;
				float:left;
				position:relative;
				top:-8px;
				@media @xsmall {
					display:inline-block;
					margin-bottom:0;
				}
			}
			&:hover {
				color:#000;
				text-decoration:none;
				text-shadow:2px 2px 2px rgba(255,255,255,1), 2px 2px 3px rgba(0,0,0,.45);
				span {
					box-shadow:2px 2px 0 rgba(0,0,0,.45), inset 2px 2px 2px rgba(0,0,0,.15);
					text-shadow:none;
					background:@martinique;
				}
			}
		}
	}
}

/*bootstrap type defaults*/
// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Contextual colors
.text-muted {
  color: @text-muted;
}
.text-primary {
  .text-emphasis-variant(@brand-primary);
}
.text-success {
  .text-emphasis-variant(@state-success-text);
}
.text-info {
  .text-emphasis-variant(@state-info-text);
}
.text-warning {
  .text-emphasis-variant(@state-warning-text);
}
.text-danger {
  .text-emphasis-variant(@state-danger-text);
}

.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  color: #fff;
  .bg-variant(@brand-primary);
}
.bg-success {
  .bg-variant(@state-success-bg);
}
.bg-info {
  .bg-variant(@state-info-bg);
}
.bg-warning {
  .bg-variant(@state-warning-bg);
}
.bg-danger {
  .bg-variant(@state-danger-bg);
}

// List options

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
.list-inline {
  .list-unstyled();
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: @line-height-computed;
}
dt,
dd {
  line-height: @line-height-base;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0; // Undo browser default
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {
  dd {
    &:extend(.clearfix all); // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: @grid-float-breakpoint) {
    dt {
      float: left;
      width: (@dl-horizontal-offset - 20);
      clear: left;
      text-align: right;
      .text-overflow();
    }
    dd {
      margin-left: @dl-horizontal-offset;
    }
  }
}