/*dark blue of logo*/
/*cta button bg*/
/*greys*/
/*bg panels*/
@media print {
  body {
    color: #000;
    background: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  @page {
    margin: 2cm;
  }
  #branding-logo a {
    display: none;
  }
  nav,
  .hideme,
  #leader-map .lm-search,
  .nav-hold,
  .siteinfo-nav,
  .siteinfo-aside,
  .selectbox-panel {
    display: none!important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    color: #000;
    text-decoration: none;
  }
  #leader-panel {
    background: #fff;
    border-bottom: 1px solid #ddd;
    color: #000;
  }
  #leader-panel .leader-content h1,
  #leader-panel .leader-content h2,
  #leader-panel .leader-content h3,
  #leader-panel .leader-content h4,
  #leader-panel .leader-content h5,
  #leader-panel .leader-content h6,
  #leader-panel .leader-content p {
    color: #000;
  }
  #leader-panel .leader-content h1 a,
  #leader-panel .leader-content h2 a,
  #leader-panel .leader-content h3 a,
  #leader-panel .leader-content h4 a,
  #leader-panel .leader-content h5 a,
  #leader-panel .leader-content h6 a,
  #leader-panel .leader-content p a {
    color: #000;
  }
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  blockquote {
    margin-left: 0;
  }
  .container-fluid {
    margin-top: 40px;
    margin-bottom: 40px;
    clear: both;
  }
  .form-group {
    display: block;
    margin-bottom: 18px;
    width: 100%;
  }
  .form-group label {
    display: block;
    margin-bottom: 8px;
    width: 100%;
    clear: both;
  }
  .steps-vertical .sv-item .svi-action a {
    display: none;
  }
  a[href*="http"] {
    color: #56328f;
    text-decoration: none;
  }
  a[href*="http"]:after {
    content: " (" attr(href) ") ";
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin-left: 10px;
  }
  #branding {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  #siteinfo {
    border-top: 1px solid #ddd;
    padding-top: 60px;
    background: none;
    padding: 0;
  }
  table {
    border-collapse: collapse;
    border-spacing: none;
  }
  table thead th {
    background: #fff;
    padding: 18px 30px 18px 14px;
    text-align: left;
    border-right: 4px solid #fff;
    border-bottom: 1px solid #ddd;
  }
  table tbody {
    border-top: none;
  }
  table tbody tr td {
    border: none;
    border-right: 4px solid #fff;
    border-bottom: 1px solid #ddd;
    padding: 12px 30px 12px 14px;
    vertical-align: top;
  }
  table tbody tr:nth-of-type(odd),
  table tbody tr.odd {
    background: #fafafa;
  }
}
