/*==START single column menu format*/
@media @small-only {
	#mainnav-single {
		width:100%;
		position:relative;
		text-align:left;
		margin-bottom:0;
		overflow:hidden;
		float:left;
		background:#fff;
		border-top:1px solid @alto;
		border-bottom:1px solid @alto;
		#mainnav-single-icon { 
			background: url(../../img/sprites/sprite.png) 4px -143px no-repeat; 
			background: none, url(../../img/sprites/sprite.svg) 4px -143px no-repeat;	
			display:block;
			margin:0 auto;
			padding:0;
			padding:16px 20px 16px 60px;
			font-size:28px;
			.acuminpromedium;
			color:@purple;
			cursor:pointer;
			&:hover,
			&.active {
				text-decoration:none;
				color:@martinique;
				background-position:4px -193px;
			}
		}
		.navList {
			width:100%;
			position:relative;
			text-align:left;
			overflow:hidden;
			float:left;
			padding-left:0;
			padding-right:0;
			&.active { 
				display:block; 
			}
			ul { 
				padding:0; 
				width:100%; 
				margin:0; 
				text-align:left; 
				display:none;
				li { 
					display:block; 
					margin:0; 
					padding:0; 
					float:none; 
					overflow:hidden;
					&:first-child {
					}
					a { 
						display:block; 
						padding:10px 20px 10px 0;
						color:@purple;
						font-size:16px;
						text-decoration:none; 
						float:none;
						margin:0 48px 0 14px;
						.acuminmedium;
						&:hover {
							color:@martinique;
							text-decoration:none;
						}
					}
					&.active {
						a {
							.acuminsemibold;
							color:@martinique;
						}
						ul li a {
							color:@blue;
							.acuminmedium;
							&:hover {
								color:@martinique;
							}					
						}
						ul li.active a {
							.acuminmedium;
						}
					}
					&.mainnav-single-highlight {
						margin-top:10px;
						margin-bottom:10px;
						border-top:1px solid @alto;
						border-bottom:1px solid @alto;
						background:#f4f4f4;
						padding:0;
						a {
							padding-top:15px;
							padding-bottom:15px;
							.acuminlight;
							text-transform:uppercase;
							&:hover {
								color:@purple;
							}
						}
						&.active {
							color:@blue;
						}
					}
/*					&.mainnav-single-secondary {
						a {
							font-size:14px;
							padding-top:4px;
							padding-bottom:4px;
						}
					}
*/				&.mainnav-single-search {
						border-top:1px solid @alto;
						border-bottom:1px solid @alto;
						background:@alabaster;
						margin-top:12px;
						form {
							position:relative;
							margin:18px;
							label {
								display:none;
							}
							.form-text {
								.trans;
								background:#fff;
								padding:12px 48px 12px 16px; 
								border:1px solid @alto; 
								margin:0; 
								width:100%;  
								.acuminlight;
								font-size:16px;
								color:@text-color;
								&:hover { 
									color:#000;
									border-color:@stardust;
								}
								&:focus {
									.acuminlight;
									color:#000;
								}
								&::-webkit-input-placeholder {
									 color: #484848;
								}
								&:-moz-placeholder { /* Firefox 18- */
									 color: #484848;  
								}
								&::-moz-placeholder {  /* Firefox 19+ */
									 color: #484848;  
								}
								&:-ms-input-placeholder {  
									 color: #484848;  
								}
							}
							.search-submit { 
								background: url(../../img/sprites/sprite.png) -158px -2px no-repeat;
								background: none, url(../../img/sprites/sprite.svg) -158px -2px no-repeat;
								text-indent:-99999px;
								border:none;
								display:inline-block;
								margin:0;
								padding:0;
								width:40px;
								height:48px;
								position:absolute; 
								top:1px;
								right:0;
								&:hover {
									background-position: -158px -52px;
								}	
							}
						}
					}					
					ul { 
						display:none; 
						overflow:hidden;
						position: static; 
						width: 100%; 
						margin-bottom:10px;
						li { 
							float:left;
							width:100%;
							&:first-child {
								padding-top:0;
							}
							&:last-child {
								xpadding-bottom:0;
							}
							a { 
								padding:8px 20px; 
								.acuminmedium;
								display:inline-block;
								font-size:14px;				
							}
							&:hover ul { 
								display:none; 
							}
						}
					}
					&.hasChild {
						a { 
							&.toggleSub { 
								display:inline-block; 
								text-indent:-99999px; 
								width:44px; 
								height:42px; 
								position:absolute; 
								right:-44px; 
								float:right; 
								background: url(../../img/sprites/sprite.png) 0 -356px no-repeat;
								background: none, url(../../img/sprites/sprite.svg) 0 -356px no-repeat;
								&.open { 
									background-position:0 -406px;
								}
							}
						}
					}
				}
			}
		}
	}	
}

/*no-js exoand panel*/
.no-js .navList ul {
	display:block;
}


/*==START small (tablet) menu format*/
#mainnav-single {
	@media @small {
		display:none;
	}
}
#nav-standard {
	display:none;
	@media @small {
		display:block;
		overflow:hidden;
		width:100%;
		nav ul {
			list-style:none; 
			overflow:hidden; 
			*zoom:1; 
			margin:0; 
			padding:0;
			li { 
				position:relative; 
				display:inline-block;
				margin:0 -4px 0 0;
				padding:0;
				border-right:1px solid @alto;
				a {
					display:inline-block;
					color:#333;
					float:left;
					.acuminpromedium;
					margin:0 24px;
					font-size:30px;
					text-decoration:none;
					border-bottom:1px solid #fff;
					padding-top:4px;
					padding-bottom:4px;
					&:hover {
						text-decoration:none;
						color:@purple;
						border-color:@purple;
					}
				}
				&.ns-icon {
					width:40px;
					border:none;
					padding:0;
					a {
						text-indent:-99999px;
						overflow:hidden;
					}
				}
				&:first-child {
				}
				&:last-child {
					border-right:0;
					margin-right:2px;
					a {
						margin-right:0;
					}
				}
				&.active {
					a {
						color:@blue;
						&:hover {
							text-decoration:none;
							border-color:#fff;
						}
					}
				}
			}
		}
	}
	@media @medium {
		width:auto;
		display:inline-block;
		nav ul {
			li {
				margin:0;
				line-height:35px;
				a {
					padding-top:8px;
					padding-bottom:8px;
					line-height:35px;
				}
				&:first-child {
				}
				&:last-child {
					border-right:1px solid @alto;
					a {
						margin-right:24px;
					}
				}
			}
		}
	}
	@media @large {
		nav ul {
			li {
				a {
				}
			}
		}
	}
}

.nav-hold {
	position:relative;
	text-align:right;
	display:none;
	@media @small {
		display:block;
		margin-top:28px;
	}
	@media @medium {
		margin-top:22px;
	}
	@media @medium {
		margin-top:14px;
	}
	@media screen and (min-width:1070px) {
		margin-top:36px;
	}
	@media @large {
		margin-top:38px;
	}
}

.nav-supp {
	display:none;
	@media @small {
		display:block;
		/*margin-top:8px;*/
	}
	@media @medium {
		display:inline-block;
		float:right;
	}

	.nsi-social {
		display:inline-block;
		overflow:hidden;
		a {
			float:left;
			background-image: url(../../img/sprites/sprite.png);
			background-image: none, url(../../img/sprites/sprite.svg);
			background-repeat:no-repeat;
			width:40px;
			height:36px;
			display:inline-block;
			text-indent:-99999px;
			padding-top:36px;
			@media @medium {
				padding-top:51px;
				height:51px;		
			}
		}
		&.fb {
			padding-left:6px;
			a {
				background-position:-4px -8px;
				&:hover {
					background-position:-4px -58px;
				}
				@media @medium {
					background-position:-4px 0;
					&:hover {
						background-position:-4px -50px;
					}
				}
			}
		}
		&.tt {
			padding-right:18px;
			border-right:1px solid @alto;
			a {
				background-position:-55px -8px;
				&:hover {
					background-position:-55px -58px;
				}
				@media @medium {
					background-position:-55px 0;
					&:hover {
						background-position:-55px -50px;
					}
				}
			}
		}
	}

	.nsi-chat {
		display:inline-block;
		padding:0 24px 0 12px;
		border-right:1px solid @alto;
		a {
			float:left;
			background: url(../../img/icons/icon-chat.png) 0 4px no-repeat;
			background: none, url(../../img/icons/icon-chat.svg) 0 4px no-repeat;
			padding-left:42px;
			text-decoration:none;
			.trans;
			height:36px;
			color:#333;
			.acuminpromedium;
			font-size:30px;
			text-decoration:none;
			span {
				.trans;
				padding-top:1px;
				padding-bottom:4px;
				border-bottom:1px solid #fff;
				display:inline-block;
			}
			&:hover {
				text-decoration:none;
				background-position:0 -46px;			
				span {
					color:@purple;
					border-color:@purple;
				}
			}		
			@media @medium {
				background-position:0 14px;
				height:auto;
				span {
					line-height:35px;
					padding-top:8px;
					padding-bottom:8px;
				}
				&:hover {
					background-position:0 -36px;
				}
			}
		}
		&.active {
			a {
				color:@blue;
				&:hover {
					text-decoration:none;
					border-color:#fff;
				}
			}
		}
	}

	.nsi-search {
		display:inline-block;
		overflow:hidden;
		a.nsi-icon {
			float:left;
			background: url(../../img/sprites/sprite.png) -150px -9px no-repeat;
			background: none, url(../../img/sprites/sprite.svg) -150px -9px no-repeat;
			width:50px;
			height:36px;
			display:inline-block;
			text-indent:-99999px;
			padding-top:36px;
			overflow:hidden;
			&:hover {
				background-position: -150px -59px;
			}
			@media @medium {
				padding-top:51px;
				height:51px;		
				background-position:-150px -1px;
				&:hover {
					background-position: -150px -51px;
				}
			}
		}
		.nsi-search-expand {
			display:none;
		}
		&.active {
			position:relative;
			overflow:visible;
			.nsi-search-expand {
				display:block;
				width:376px;
				height:52px;
				position:absolute;
				top:0;
				right:2px;
				background:#fff;
				label {
					display:none;
				}
				form {
					position:relative;
					margin:0;
					.form-text {
						.trans;
						background:#fff;
						padding:12px 48px 12px 16px; 
						border:1px solid @alto; 
						margin:0; 
						.acuminlight;
						font-size:16px;
						color:@text-color;
						box-shadow:4px 4px 0 rgba(0,0,0,0.125);
						&:hover,
						&:focus { 
							color:#000;
							border-color:@stardust;
						}
						&:focus {
							.acuminlight;
							color:#000;
						}
						&::-webkit-input-placeholder {
							 color: #484848;
						}
						&:-moz-placeholder { /* Firefox 18- */
							 color: #484848;  
						}
						&::-moz-placeholder {  /* Firefox 19+ */
							 color: #484848;  
						}
						&:-ms-input-placeholder {  
							 color: #484848;  
						}
					}
					.search-submit { 
						background: url(../../img/sprites/sprite.png) -158px -2px no-repeat;
						background: none, url(../../img/sprites/sprite.svg) -158px -2px no-repeat;
						text-indent:-99999px;
						border:none;
						display:inline-block;
						margin:0;
						padding:0;
						width:40px;
						height:48px;
						position:absolute; 
						top:1px;
						right:0;
						&:hover {
							background-position: -158px -52px;
						}	
					}
				}
				.nsi-search-close {
					display:inline-block;
					position:relative;
					top:2px;
					right:-4px;
					height:28px;
					text-align:center;
					a {
						background:#e5e5e5;
						background:rgba(0,0,0,0.125);
						display:inline-block;
						cursor:pointer;
						font-size:13px;
						.acuminregular;
						padding:0 14px 2px 14px;
						color:#333;
						&:hover {
							color:@martinique;
						}
					}
				}
				@media screen and (min-width:1070px) {
					width:480px;
				}
			}
		}
	}
	
}
