/*header area components*/
#branding { 
	position:relative;
	border-bottom:1px solid @alto;
	#branding-logo { 
		text-indent:-99999px; 
		display:block; 
		margin:0; 
		position:relative; 
		a {
			display:block; 
			position:relative; 
			margin:38px 0;
			width:228px;
			height:68px;
			float:left;
			background: url(../../img/logos/logo-brand.png) 0 0 no-repeat;
			background: none, url(../../img/logos/logo-brand.svg) 0 0 no-repeat;
			background-size:100% auto;
			@media @small {
			}
			@media @medium {
			}
			@media @large {
				width:268px;
				height:80px;
				margin:38px 0;
			}
		}
	}
}