#siteinfo {
	background-color:@liver;
	color:#F7F6F5;
	padding-top:48px;
	padding-bottom:48px;
	.siteinfo-smallprint {
		font-size:14px;
		line-height:22px;
		margin-bottom:18px;
	}
		
	.siteinfo-nav {
		margin:0;
		padding:0;
		list-style:none;
		overflow:hidden;
		li {
			margin:0 0 12px 0;
			padding:0;
			line-height:10px;
			@media @xsmall {
				display:inline-block; 
				margin:0 12px 12px 0;
				border-right:1px solid #F7F6F5;
			}
			@media @medium {
				margin-bottom:0;
			}
			a {
				font-size:14px;
				.acuminlight;
				color:#F7F6F5;
				line-height:14px;
				margin-right:12px;
			}
			&.active {
				a {
					.acuminmedium;
					color:#fff;
					font-size:13px;
				}
			}
		}
	}

	.siteinfo-aside {
		margin-top:28px;
		@media @small {
			text-align:right;
			margin-top:0;
		}
		.siteinfo-logo {
			width:220px;
			height:65px;
			background:url(../../img/logos/logo-brand-reverse.png) 0 0 no-repeat; 
			display:inline-block;
			text-indent:-99999px;
			padding-top:80px;
			overflow:hidden;
		}
	}
}