/*breadcrumb*/
.breadcrumb {
	list-style:none;
	margin:18px 0;
	padding:0;
  li {
		display:inline;
		margin-right:6px;
		margin-left:0;
		padding-left:0;
		font-size:14px;
		.acuminlight;
		a {
			margin-right:12px;
			text-decoration:none;
			.acuminregular;
			&:hover {
				text-decoration:underline;
				color:@link-hover-color;
			}
		}
  }
}
