/*aside vertical steps trail*/
.steps-vertical {
	.sv-item {
		position:relative;
		overflow:hidden;
		padding-bottom:28px;
		padding-left:60px;
		background-image:url(../../img/bg/steps-circle.png), url(../../img/bg/steps-vertical.png);
		background-image:url(../../img/bg/steps-circle.svg), url(../../img/bg/steps-vertical.svg);
		background-position:0 15px, 0 0;
		background-repeat:no-repeat, no-repeat;
		&:first-child {
			background-position:0 15px, 0 38px;
		}
		&:last-child {
			padding-bottom:0;
		}
		h4 {
			.acuminprobold;
			color:#666;
			margin-bottom:4px;
			font-size:3	px;
			line-height:52px;
			em {
				display:inline-block;
				padding:0 18px 0 0;
				margin-right:18px;
				border-right:1px solid @alto;
				.acuminprobold;
				color:#666;
			}
		}
		p.svi-info {
			margin:0;
			.acuminprobold;
			color:#666;
			font-size:26px;
			line-height:34px;
		}
		p.svi-action {
			.acuminpromedium;
			font-size:22px;
			line-height:28px;
			color:#666;
			margin:6px 0 0 0;
			span {
				display:inline-block;
				margin-right:12px;
			}
			a {
				font-size:14px;
			}
		}
		&.active {
			background-image:url(../../img/bg/steps-circle-active.svg), url(../../img/bg/steps-vertical.svg);
			h4 {
				color:@blue;
				em {
					color:@blue;
					border-right:1px solid @blue;
				}
			}
		}
	}
}

.radio-inline {
	width:40px;
	height:40px;
	background:pink;
}