/*supplementary (social tweets)*/
.supplementary {
	background:@whitesmoke;
	padding:48px 0;
	border-top:1px solid @alto;
	border-bottom:1px solid @alto;
	h3 {
		font-size:48px;
		line-height:62px;
		margin-bottom:48px;
		@media @small {
			text-align:center;
		}
	}
}

.tweet-single {
	margin-bottom:28px;
	@media @small {
		text-align:center;
		padding-left:6%;
		padding-right:6%;
		margin-bottom:0;
	}
	.ts-title {
		display:block;
		.acuminsemibold;
		margin-bottom:4px;
		font-size:18px;
	}
	.ts-meta {
		display:block;
		.acuminregular;
		font-size:14px;
		margin-bottom:4px;
		a {
			color:#333;
			font-size:14px;
			.acuminmedium;
		}
		span {
		}
	}
	p.ts-content {
		line-height:24px;
		margin-bottom:0;
	}
}