/*aside promo block (knoweldge base)*/
#main .aside-promo {
	padding:20px 35px;
	background: #22A6D8 url(../../img/bg/aside-skyline.png) 50% 100% repeat-x; 
	background: none, #22A6D8 url(../../img/bg/aside-skyline.svg) 50% 100% repeat-x;	
	color:#fff;
	h1,h2,h3,h4,h5,h6,p,li,a  {
		color:#fff;
	}
	@media @large {
		padding:30px 40px;
	}
	h4 {
		.acuminprobold;
		font-size:54px;
		line-height:62px;
		text-shadow:1px 1px 1px rgba(0,0,0,.15);
		@media @medium {
			font-size:44px;
			line-height:54px;
			text-align:center;
		}
		@media @large {
			font-size:54px;
			line-height:62px;			
		}
	}
	h5 {
		.acuminpromedium;
		font-size:48px;
		line-height:54px;
		margin-bottom:38px;
		font-style:italic;
		text-shadow:1px 1px 1px rgba(0,0,0,.15);
		@media @medium {
			font-size:38px;
			line-height:44px;
			text-align:center;
		}
		@media @large {
		font-size:48px;
		line-height:54px;
		}
	}
	ol {
		margin:0 0 12px 0;
		padding:0;
		li {
			margin:0 0 28px 18px;
			padding:0 0 0 8px;
			.acuminmedium;
			text-shadow:1px 1px 1px rgba(0,0,0,.15);
			em {
				display:none;
			}
			&:last-child {
				margin-bottom:0;
			}
		}
		&.numdivide {
			list-style:none;
			li {
				margin:0 0 28px 0;
				padding:0;
				position:relative;
				overflow:hidden;
				&:last-child {
					margin-bottom:0;
				}
				em {
					display:inline-block;
					font-size:32px;
					float:left;
					width:14%;
					border-right:1px solid #fff;
					min-height:58px;
					line-height:40px;
					color:#fff;
					.acuminprobold;
					@media @xsmall {
						width:10%;
					}
					@media screen and (min-width:480px) {
						width:8%;
					}
					@media screen and (min-width:680px) {
						width:6%;
					}
					@media @small {
						width:5%;
					}
					@media @medium {
						width:12%;
					}
				}
				span {
					float:left;
					display:inline-block;
					width:86%;
					@media @xsmall {
						width:90%;
					}
					@media screen and (min-width:480px) {
						width:92%;
					}
					@media screen and (min-width:680px) {
						width:94%;
					}
					@media @small {
						width:95%;
					}
					@media @medium {
						width:88%;
					}
					padding-left:18px;
					font-size:16px;
					min-height:34px;
				}
			}
		}
	}
}