/*homepage panel*/
.main-content-full {
	margin-bottom:48px;
	overflow:hidden;
	@media @small {
		padding-top:18px;
		text-align:center;
		padding-left:2%;
		padding-right:2%;
	}
	@media @medium {
		padding-left:8%;
		padding-right:8%;
	}
	h2 {
		font-size:48px;
		line-height:62px;
		margin-bottom:48px;
	}
	.promote {
		@media @small {
			padding-left:12%;
			padding-right:12%;
		}
	}
}
