/*leader panel*/
#leader-panel {
	background:@persianblue;
	color:#fff;
	.leader-content {
		padding-top:5%;
		padding-bottom:54px;
		&.nomargin {
			h2 {
				margin-bottom:0;
			}
		}
		@media @small {
			text-align:center;
			padding-left:8%;
			padding-right:8%;			
		}
		&.lc-image {
			background-position:0 62px;
			background-repeat:no-repeat;
			padding-top:140px;
			@media @small {
				background-position:50% 62px;
			}
			&.lci-book {
				background-image:url(../../img/icons/leader-books.png);
				background-image:url(../../img/icons/leader-books.svg);
			}
			&.lci-report {
				background-image:url(../../img/icons/leader-report.png);
				background-image:url(../../img/icons/leader-report.svg);
			}
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			color:#fff;
			a {
				color:#fff;
			}
		}
		h1 {
			margin-bottom:24px;
			font-size:36px;
			line-height:42px;
		}
		h2 {
			font-size:60px;
			line-height:68px;
			margin-bottom:28px;
			em {
				margin-top:14px;
				display:block;
				color:#fff;
				font-size:30px;
				line-height:44px;
				.acuminprobold;
				font-style:italic;
				margin-bottom:48px;
			}
		}
		&.lc-home {
			h2 {
				margin-bottom:24px;
				font-size:36px;
				line-height:42px;
			}
			h1 {
				font-size:68px;
				line-height:68px;
				margin-bottom:48px;
				em {
					margin-top:14px;
					display:block;
					color:#fff;
					font-size:30px;
					line-height:44px;
					.acuminprobold;
					font-style:italic;
					margin-bottom:48px;
				}
			}
		}
		p {
			font-size:18px;
			.acuminmedium;
			a {
				text-shadow:1px 1px 1px rgba(0,0,0,.25);
				.acuminbold;
			}
		}
		.lc-summary {
			margin-bottom:48px;
			padding-top:28px;
			border-top:1px dashed #22a6d8;
			@media @medium {
				padding-left:8%;
				padding-right:8%;
			}
		}
		.lc-action {
			margin-bottom:0;
			a {
				text-shadow:none;
				box-shadow:2px 4px 0 rgba(0,0,0,.25);
				&:hover {
					background:#fff;
					color:@cherrypie;
				}
			}
		}
	}
}

#leader-map {
	border-top:1px solid @alto;
	position:relative;
	overflow:hidden;
	.lm-search {
		width:100%;
		position:absolute;
		top:0;
		left:0;
		text-align:center;
		form {
			position:relative;
			margin-top:48px;
			margin-left:10%;
			margin-right:10%;
			width:80%;
			@media @small {
				margin:48px auto 0 auto;
				width:480px;
			}
			.form-text {
				.trans;
				background:#fff;
				padding:12px 48px 12px 16px; 
				border:1px solid @alto; 
				margin:0; 
				.acuminlight;
				font-size:16px;
				color:@text-color;
				@media @small {
					text-align:center;
				}
				box-shadow:4px 4px 0 rgba(0,0,0,0.125);
				&:hover,
				&:focus { 
					color:#000;
					border-color:@stardust;
				}
				&:focus {
					.acuminlight;
					color:#000;
				}
				&::-webkit-input-placeholder {
					 color: #484848;
				}
				&:-moz-placeholder { /* Firefox 18- */
					 color: #484848;  
				}
				&::-moz-placeholder {  /* Firefox 19+ */
					 color: #484848;  
				}
				&:-ms-input-placeholder {  
					 color: #484848;  
				}
			}
			.search-submit { 
				background: url(../../img/sprites/sprite.png) -158px -2px no-repeat;
				background: none, url(../../img/sprites/sprite.svg) -158px -2px no-repeat;
				text-indent:-99999px;
				border:none;
				display:inline-block;
				margin:0;
				padding:0;
				width:40px;
				height:48px;
				position:absolute; 
				top:1px;
				right:0;
				&:hover {
					background-position: -158px -52px;
				}	
			}
		}
	}
}