/*messages/alert boxes*/
.alert {
	padding:24px 28px 18px 28px;
	margin-bottom:@baseline;
	.acuminlight;
	strong {
		font-size:18px;
		.acuminbold;
		display:inline-block;
		margin-right:10px;
	}
	&.secondary,
	&.alert-secondary {
		#gradient > .vertical(#fff, #f6f6f6);
		border-color:@alto;
		padding:18px 28px;
	}
}