/*tables*/
table { 
	border-collapse:collapse; 
	border-spacing:none; 
	margin-bottom:@baseline;
	thead th { 
		background:#fff; 
		.acuminmedium;
		font-size:18px;
		padding:18px 40px 18px 14px; 
		text-align:left;
		border-right:1px solid #fff;
		border-bottom:1px solid @alto;
	}
	tbody { 
		border-top:none;
		tr td { 
			border:none;
			border-right:1px solid #fff;
			border-bottom:1px solid @alto;
			padding:12px 40px 12px 14px; 
			vertical-align:top;
		}
		tr:nth-of-type(odd),
		tr.odd {
			background:@alabaster; 
		}
	}
}

@media @small-only {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { display:block; }
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {position:absolute; top:-9999px; left:-9999px; }
	tr td { border:none;}
	tr { margin-bottom:@baseline;}
}