#main .accordion { 
	position:relative;
	margin-bottom:@baseline;
	h4 {
		margin-top:0;
		position:relative;
		margin-bottom:0;
		a {
			.acuminpromedium;
			font-size:28px;
			.trans;
			padding:4px 50px 4px 28px;
			display:block;
			border-left:4px solid @purple;
			background:#fff;
			color:#333;
			&.collapsed {
				background:#fff;
				.icon {
					background-position:4px -88px;
				}
			}
			.icon {
				width:30px;
				height:30px;
				display:block;
				position:absolute;
				top:16px;
				right:14px;
				background: url(../../img/sprites/sprite.png); 
				background: none, url(../../img/sprites/sprite.svg);	
				background-position:-46px -88px;
			}	
			&:hover {
				color:@martinique;
			}
		}
	}
	.panel {
		border:1px solid @alto;
		margin-bottom:18px;
		.panel-body {
			padding:28px;
			background:#fff;
			border-left:4px solid @purple;
			p:last-child {
				margin-bottom:0;
			}
		}
	}
}
