/*rounden more button*/
#main p a.button,
a.button {
	border-radius:28px;
	padding:10px 26px;
	display:inline-block;
	line-height:30px;
	.trans;
	text-decoration:none;
	.acuminbold;
	font-size:14px;
	background:@purple;
	color:#fff;
	&:hover {
		background:@cherrypie;
		text-decoration:none;
	}
	&.large {
		font-size:18px;
		padding:15px 38px 18px 38px;
		.acuminsemibold;
		border-radius:36px;
	}
	&.wide {
		font-size:20px;
		padding:15px 72px 18px 72px;
		.acuminsemibold;
		border-radius:36px;
	}
}

/*general form styles*/
form {
	margin-bottom:@baseline*2;
	label { 
		display:block; 
		margin-bottom:12px;
		font-size:16px;
		.acuminlight;
		color:@text-color;
		.required,
		.form-required {
			color:@crimson;
			display:inline-block;
			margin-left:5px;
		}
	}
	.form-text, 
	.form-select,
	textarea {
		.trans;
		background:#fff;
		padding:12px 16px; 
		border:1px solid @alto; 
		margin:0 0 @baseline 0; 
		width:100%;  
		.acuminlight;
		font-size:14px;
		color:@text-color;
		&:hover { 
			color:#000;
			border-color:@blue;
		}
		&:focus {
			.acuminlight;
			color:#000;
		}
	}
	.form-select {
		margin-bottom:@baseline;
		padding:12px 32px 12px 16px;
		border:1px solid @alto;
		.acuminlight;
		font-size:12px;
		width:auto;
		cursor:pointer;
		-webkit-appearance:none;
		-webkit-border-radius:none;
		-moz-appearance: none;
	}
	.form-submit { 
		font-size:14px;
		.acuminbold;
		border-radius:28px;
		padding:10px 26px;
		display:inline-block;
		line-height:30px;
		border:none;
		.trans;
		margin:0;
		background:@purple;
		color:#fff;
		text-decoration:none;
		&:hover {
			background:@cherrypie;
			text-decoration:none;
			color:#fff;
		}
	}
	.radio label,
	.checkbox label	{
		line-height:18px;
	}	
	.radio input[type="radio"], 
	.radio-inline input[type="radio"], 
	.checkbox input[type="checkbox"], 
	.checkbox-inline input[type="checkbox"] {
		margin-right:8px;
		position:relative;
	}	
}

/*boostrap override form styles*/
.form-standard {
	.form-panel {
		margin-bottom:28px;
	}
	.form-group { 
		margin-bottom:28px;
		font-size:16px;
		.acuminlight;
		color:@text-color;
		label { 
			display:block; 
			margin-bottom:12px;
			font-size:16px;
			.acuminlight;
			color:@text-color;
			.required {
				color:@crimson;
				display:inline-block;
				margin-left:5px;
			}
		}
		.required {
			color:@crimson;
			display:inline-block;
			margin-left:5px;
		}
		.form-control {
			padding:10px 16px;
			height:auto;
			&:hover,
			&:focus { 
				box-shadow:none;
				border-color:@blue;
				color:#000;
			}
		}
	}
	.tab-focus {
		outline:none;
		.acuminlight;
		color:#000;
	}
	.form-control-focus {
		color:#000;
		border-color:@blue;
		&:hover { 
			color:#000;
			border-color:@blue;
		}
		&:focus {
			.acuminlight;
			color:#000;
			outline:none;
			box-shadow:none;
		}
	}
	textarea {
		padding-top:12px;
		padding-bottom:12px;
	}
	.btn { 
		font-size:14px;
		.acuminbold;
		border-radius:28px;
		padding:10px 26px;
		display:inline-block;
		line-height:30px;
		border:none;
		.trans;
		margin:0;
		background:@purple;
		color:#fff;
		text-decoration:none;
		&:hover {
			background:@cherrypie;
			text-decoration:none;
			color:#fff;
		}
	}	

	.ui-buttonset {
		label {
			display:inline-block;
		}
		.ui-button {
			cursor: pointer;
			display: inline-block;
			line-height: normal;
			margin-right:10px;
			text-align: center;
			border:1px solid @alto;
			padding:10px 25px;
			font-size:16px;
			.acuminsemibold;
			.trans;
			text-shadow:1px 1px 0 rgba(0,0,0,.15);
			box-shadow:4px 4px 0 rgba(0,0,0,.15);
			margin-bottom:18px;
			&:hover {
				box-shadow:4px 4px 0 rgba(0,0,0,.45);
				border-color:rgba(0,0,0,.45);
			}
			&.ui-state-active {
				background:@persianblue;
				border:1px solid @persianblue;
				color:#fff;
				box-shadow:4px 4px 0 rgba(0,0,0,.1);
			}
		}
		.ui-helper-hidden-accessible {
				border: 0 none;
				clip: rect(0px, 0px, 0px, 0px);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
		}
	}
	
	/*selectbox within full panel styling (home)*/
	&.selectbox-panel {
		margin-top:54px;
		margin-bottom:0;
		@media @medium {
			margin-left:5%;
			margin-right:5%;
		}
		@media @large {
			margin-left:12%;
			margin-right:12%;
		}
		.form-group {
			margin-bottom:0;
			label {
				display:none;
			}
			select {
				-webkit-appearance:none;
				-moz-appearance:none;
				-ms-appearance: none;
				-o-appearance: none;
				appearance:none;
				text-overflow: '';
				&::-ms-expand {
					display: none;
				}
				&.form-control {
					color:#333;
					padding:0 25px;
					height:56px;
					border:1px solid @persianblue;
					border-right:none;
					box-shadow:4px 4px 0 rgba(0,0,0,.2);
					.trans;
					.acuminmedium;
					font-size:18px;
					background-image: url(../../img/icons/icon-arrow.png); 
					background-image: none, url(../../img/icons/icon-arrow.svg); 
					background-position:100% 0;
					background-repeat:no-repeat;
					&:hover,
					&:focus { 
						border-color:#000;
						color:#000;
						box-shadow:4px 4px 0 rgba(0,0,0,.45);
						background-position:100% -50px;
						outline:0;
					}
					option {
						padding-left:25px;
						padding-right:25px;
						padding-top:12px;
						padding-bottom:12px;
						font-size:16px;
						color:#333;
						&:first-child {
							display:none;
						}
					}
				}
			}
		}
	}
}
.ie9 {
	.form-standard.selectbox-panel {
		.form-group {
			select {
				&.form-control {
					padding-right:0;
					background-image:none;
				}
			}
		}
	}
}

.label {
	display:block; 
	margin-bottom:12px;
	font-size:16px;
	.acuminlight;
	color:@text-color;
	.required {
		color:@crimson;
		display:inline-block;
		margin-left:5px;
	}
}

/*drupal cleanup*/
form {
	.panel {
		legend {
			margin-bottom:28px;
		}
		.panel-heading {
			border:none;
			.acuminpromedium;
			font-size:34px;
		}
		.panel-body {
			border-top:1px solid @alto;
			padding-top:28px;
			margin-bottom:@baseline*1.5;
			.form-inline {
				.control-label {
					margin-bottom:12px;
				}
				.form-group {
					margin-right:18px;
				}
			}
			#edit-case-type-label {
				&.form-group {
					margin-bottom:0;
					label {
						margin-bottom:0;
					}
					p {
						margin:0;
						.acuminsemibold;
						font-size:18px;
					}
				}
			}
		}
	}
}